<template>
  <v-container class="fill-height " fluid="">
    <v-row align="center" justify="center">
      <v-col align="center" justify="center">
        <v-card class="elevation-0 d-flex" height="585" max-width="380px">
          <v-row align="center" class=" mx-2" justify="center">
            <v-col align="center" justify="center">
              <v-img
                class="ma-3"
                style="max-width:145px"
                src="@/assets/logo.png"
              ></v-img>
              <v-card-title class="justify-center">
                <h3>Log in to LikeMinded service</h3>
                <p>Введите номер телефона и пароль</p>

              </v-card-title>
              <v-card-text>

                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-text-field
                    lazy-validation
                    outlined
                    dense
                    color="secondary"
                    label="Телефон"
                    :rules="rule.required"
                    v-model="form.phone"
                    hide-details="auto"
                    type="text"
                  ></v-text-field>
                  <!--                  <router-link-->
                  <!--                    class="reset-link mt-2"-->
                  <!--                    :to="{ name: 'resetPassword' }"-->
                  <!--                    >Забыли пароль?</router-link-->
                  <!--                  >-->
                  <v-text-field
                    class="mt-5"
                    outlined
                    dense
                    data-cy="password"
                    label="Пароль"
                    v-model="form.pass"
                    @keypress.enter="enterToAccount"
                    :rules="rule.password"
                    color="secondary"
                    name="password"
                    :type="viewPass ? 'text' : 'password'"
                    :append-icon="viewPass ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="viewPass = !viewPass"
                    hide-details="auto"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions class="px-4">
                <v-row>
                  <v-col cols="12">
                    <router-link class="mb-5" :to="{name: 'registration'}">Зарегистрироваться</router-link>

                    <v-btn
                      rounded
                      color="primary"
                      depressed
                      width="70%"
                      :loading="isLoginLoading"
                      @click="enterToAccount"
                      data-cy="login"
                      >Войти</v-btn
                    >
                    <!--                    :disabled="!valid"-->
                  </v-col>

                </v-row>
              </v-card-actions>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import dbg from "@/plugins/dbg";
import validation from "@/mixins/validationRules";
import requestControl from "@/mixins/requestControl";
import { AUTH_LOGIN } from "../../../store/const/auth";
import { mapActions } from "vuex";
export default {
  mixins: [validation, requestControl],

  data() {
    return {
      form: {
        phone: "",
        pass: ""
      },
      serverErrors: {
        email: "",
        password: ""
      },
      viewPass: false,
      valid: true,
      isBlockButton: window.innerWidth >= 600,
      lazy: true,
      enterButtonLoading: false
    };
  },
  computed: {
    isLoginLoading() {
      return this.loading(AUTH_LOGIN) === "loading";
    }
  },
  methods: {
    ...mapActions("Auth", {
      login: AUTH_LOGIN
    }),
    async enterToAccount() {
      const loginForm = this.$refs.form;
      const isValid = loginForm.validate();
      if (isValid) {
        await this.login(this.form);
        if (this.checkRequestOnError(AUTH_LOGIN)) {
          this.$notify({
            type: "succ",
            text: "Добро пожаловать"
          });
          this.$router.push({ name: "events" });
        }
      } else {
        dbg("1error", loginForm);
      }
    }
  }
};
</script>
