<template>
  <v-container
    class=" flex-nowrap flex-column"
    fluid="fluid"
    style="align-items: normal"
  >
    <view-toolbar
      :title="isNew ? 'Создание соревнования' : 'Редактирование соревнования'"
    >
      <template #buttons> </template>
    </view-toolbar>

    <v-row justify="center">
      <v-col cols="12">
        <v-row>
          <v-col cols="6">
            <event-description v-bind.sync="eventObject"> </event-description>
          </v-col>
          <v-col cols="6">
            <event-map v-bind.sync="eventObject"> </event-map>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" v-if="!isNew">
        <v-row>
          <v-col cols="7">
            <event-organisational :stages.sync="stages">
            </event-organisational>
          </v-col>
          <v-col cols="5">
            <event-users  :users.sync="users"> </event-users>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row>
      <v-spacer></v-spacer>
      <v-col cols="12" md="3">
        <v-btn block @click="save" color="primary">{{
          isNew ? "Создать" : "Редактировать"
        }}</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import requestControl from "@/mixins/requestControl";
import viewToolbar from "@/components/common/ViewToolbar";
import description from "@/components/management/events/settings/components/description";
import map from "@/components/management/events/settings/components/map";
import users from "@/components/management/events/settings/components/users";
import organistional from "@/components/management/events/settings/components/organistional";
import {mapActions, mapState} from "vuex";
import {CREATE_EVENT, GET_EVENT, GET_EVENT_TYPES, UPDATE_EVENT, TIE_USER,GET_USERS_BY_EVENT} from "@/store/const/events";
import {GET_USERS} from "@/store/const/users";
import {GET_STAGES} from "@/store/const/stages";
let typeEvent = {
  id: null,
  name: "",
  eventType: "",
  owner_id: null,
  judges: [],
  users: [],
  stages: [""],
  description: "",
  start_date: "",
  status: null,
  deposit: 0,
  latitude: "",
  longitude: ""
};
export default {
  components: {
    viewToolbar,
    eventDescription: description,
    eventMap: map,
    eventUsers: users,
    eventOrganisational: organistional
  },
  mixins: [requestControl],
  props: {
    isNew: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data() {
    return {
      eventObject: JSON.parse(JSON.stringify(typeEvent)),
      stages: [''],
      users: [],
      judges: [],
      start_date: '',
      // allStages: []
    };
  },

  async mounted() {
    await this.getTypes();
    await this.getUsers();
    await  this.getStages();
    
    if(!this.isNew){
      try {
        await this.fetchEvent(this.$route.params.id)
        this.eventObject =  this.$store.state.Events.currentEvent;
      } catch (e) {
        this.$notify({
          type: "succ",
          text: "Обновление данных"
        });
      }
      try {
       await this.getStagesByEvent()
      await this.getUsersByEvent(this.$route.params.id);
      this.users = this.tiedUsers
      } catch (e  ) {
        this.$notify({
          type: "succ",
          text: "Обновление данных"
        });
      }
     
     
    }
  },
  computed: {
    ...mapState('Users',['currentEvent']),
    ...mapState('Events',['tiedUsers'])
  },

  methods: {
    async getStagesByEvent(){
     let res = await window
                .fetch(`http://like778421.nichost.ru/api/stages/event/${this.$route.params.id}` , {
                    method: 'GET',
                    headers: {
                      Authorization: `Bearer ${localStorage.getItem('userToken')}`
                    },
                })
           let json = await res.json() ;
           this.stages = json.map(({id})=> id)   
    },
    ...mapActions("Events", {
      createEvent: CREATE_EVENT,
      editEvent: UPDATE_EVENT,
      getTypes: GET_EVENT_TYPES,
      fetchEvent: GET_EVENT,
      tieUser: TIE_USER,
      getUsersByEvent: GET_USERS_BY_EVENT

      // getStagesByEvent: GET_STAGES_BY_EVENT

    }),
    ...mapActions("Stages",{
      getStages: GET_STAGES,
    
    }),
    ...mapActions("Users",{
      getUsers: GET_USERS
    }),
    async save() {
      if (this.isNew) {
        await this.createEvent(this.eventObject);
        this.$router.push({name: 'events'})
      } else {
          for (const userIndex in this.users) {
              const userId = this.users[userIndex];
              await this.tieUser({
                event_id: this.$route.params.id,
                user_id:userId
              })
          }
       
        await this.editEvent(this.eventObject);
         this.$router.push({name: 'events'})
      }
    },

  }
};
</script>
