<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="events"
      :items-per-page="10"
      :search="search"
      fixed-header
      :loading="isLoading"
      loader-height="6"
      loading-text="Загрузка списка... Пожалуйста подождите "
      class="elevation-3"
    >
      <template #[`item.name`]="{ item }">
          <v-btn width="400" :to="{name: 'currentEvent', params: {id: item.id}}" color="primary">{{item.name}} <v-icon>mdi-open-in-new</v-icon></v-btn>
      </template>
      <template #[`item.options`]="{ item }">
        <v-btn class="ma-1" x-small outlined fab :to="{name: 'editEvent',params: {id: item.id}}">
          <v-icon>mdi-lead-pencil</v-icon>
        </v-btn>

        <v-btn class="ma-1" @click="removeevent(item)" x-small outlined fab>
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";
import { GET_EVENTS, DELETE_EVENT } from "@/store/const/events";
import requestControl from "@/mixins/requestControl";

export default {
  components: {},
  mixins: [requestControl],
  props: {
    search: {
      type: String,
      required: false,
      default: ""
    }
  },
  data() {
    return {
      currentEntity: {},
      dialogState: false,
      footerProps: {
        "items-per-page-options": [5, 10, 20, 50, -1],
        "items-per-page-text": "Пользователей на странице:"
      },
      headers: [
        {
          text: "Название",
          align: "start",
          value: "name"
        },
        { text: "Описание", align: "start", value: "description", sortable: false },
      
        { text: "Опции", align: "start", value: "options", sortable: false }
      ]
    };
  },
  computed: {
    ...mapState("Events", ["events"]),
    isLoading() {
      return this.loading(GET_EVENTS) === "loading";
    }
  },
  async created() {
    this.fetchEvents();
  },
  methods: {
    ...mapActions("Events", {
      fetchEvents: GET_EVENTS,
      deleteevent: DELETE_EVENT
    }),
    async removeevent(event) {
      await this.deleteevent(event);
      if (this.checkRequestOnError(DELETE_EVENT)) {
        this.$notify({
          type: "succ",
          text: "Соревнование успешно удалено"
        });
        this.fetchEvents();
      }
    },
    openDialog(item) {
      this.currentEntity = item;
      this.dialogState = true;
    }
  }
};
</script>
