<template>
  <v-main class="login-bg">
    <v-slide-x-transition>
      <router-view class="auth-content"></router-view>
    </v-slide-x-transition>
  </v-main>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      drawer: null
    };
  }
};
</script>
