<template>
  <v-app id="inspire">
    <v-navigation-drawer
      ref="drawer"
      width="290"
      dark
      color="#323232"
      :expand-on-hover="drawerMiniVariant && !$vuetify.breakpoint.smAndDown"
      v-model="drawer"
      app
      :clipped="isClipped"
    >
      <div class="drawer-image mx-4 mt-6 d-flex">
        <!--<v-app-bar-nav-icon
          style="margin-left: -10px"
          @click.stop="drawer = !drawer"
        ></v-app-bar-nav-icon>-->
        <a href="/" class="logo-title">LikeMinded</a>
        <v-btn @click="$vuetify.theme.dark = !$vuetify.theme.dark" icon
          ><v-icon>mdi-invert-colors</v-icon></v-btn
        >
      </div>

      <v-list list>
        <v-list-item
          v-for="(route, i) in routes"
          :disabled="route.disabled"
          :key="i"
          :to="{ name: route.path }"
        >
          <v-list-item-icon>
            <v-icon color="primary">{{ `mdi-${route.icon}` }}</v-icon>
          </v-list-item-icon>
          <v-list-item-title v-text="route.text"></v-list-item-title>
        </v-list-item>
        <v-divider class="my-2"></v-divider>
        <v-list-item :disabled="cabinet.disabled" :to="{ name: cabinet.path }">
          <v-list-item-icon>
            <v-icon color="primary">{{ `mdi-${cabinet.icon}` }}</v-icon>
          </v-list-item-icon>
          <v-list-item-title v-text="cabinet.text"></v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <v-skeleton-loader
        v-if="isLoading()"
        style="margin-top:40px"
        class=" ml-4"
        transition="scale-transition"
        width="100%"
        type="heading"
      >
      </v-skeleton-loader>
      <v-skeleton-loader
        v-if="isLoading()"
        class="mt-6 ml-4"
        transition="scale-transition"
        width="90%"
        type="paragraph"
      >
      </v-skeleton-loader>
      <v-skeleton-loader
        :loading="isLoading()"
        transition="scale-transition"
        width="100%"
        type="table"
      >
        <router-view class=""></router-view>
      </v-skeleton-loader>
    </v-main>
    <v-footer padless v-if="process === 'development'">
      <v-col class="d-flex align-center justify-end pa-2 " cols="12">
        <small class="ml-2"
          >DEV: LikeMinded v0.1.228 ({{
            new Date().toLocaleDateString()
          }})</small
        >
      </v-col>
    </v-footer>
  </v-app>
</template>
<script>
import { mapActions, mapMutations, mapState } from "vuex";
import { AUTH_ABOUT_ME } from "../../store/const/auth";
import requestControl from "@/mixins/requestControl";
import dbg from "@/plugins/dbg";

export default {
  components: {
  },
  mixins: [requestControl],
  data() {
    return {
      isClipped: true,
      process: process.env.NODE_ENV,
      drawer: null,
      routes: [
        {
          text: "События",
          path: "events",
          disabled: false,
          icon: "alpha-e-box",
          children: [
            {
              text: "Новая бронь",
              path: "reservation/new/:id",
              disabled: false,
              icon: "bag-checked"
            }
          ]
        }
        // {
        //   text: "Мой юзер",
        //   path: "control",
        //   disabled: false,
        //   icon: "account-multiple"
        // }
      ],
      cabinet: {
        text: "Настройки",
        path: "cabinet",
        disabled: false,
        icon: "cog"
      }
    };
  },
  computed: {
    ...mapState("Auth", ["drawerMiniVariant"]),
    showLogo() {
      return !this.drawerMiniVariant || this.$refs?.drawer?.isMouseover;
    }
  },
  methods: {
    ...mapMutations("Auth", ["toggleMiniDrawer"]),
    ...mapActions("Auth", {
      getMe: AUTH_ABOUT_ME
    }),
    isLoading() {
      return this.loading(AUTH_ABOUT_ME) === "loading";
    },
    clearLocalStorage() {
      localStorage.clear();
    }
  },
  async created() {
    dbg(this.$route);
    //me
    if (localStorage.getItem("drawerStyle") === "mini") {
      console.log("here", "mini");
      this.$store.commit("Auth/toggleMiniDrawer", "mini");
    } else {
      this.$store.commit("Auth/toggleMiniDrawer", "full");
    }
    try {
      await this.getMe();
      this.checkRequestOnError(AUTH_ABOUT_ME);
    } catch (error) {
      dbg("GET ME INFO err", error);
    }
  }
};
</script>

<style lang="scss">
.likeminded-logo {
  background-image: url(../../assets/logo.png);
  background-position: center;
  width: 100%;
  height: 100%;
}
.logo-title {
  font-size: 30px;
}
</style>
