<template>
  <v-form>
    <v-card>
      <v-card-title> <v-icon>mdi-clipboard-file</v-icon>Основное </v-card-title>
      <v-card-subtitle v-if="isNew">
        Заполните основные данные намеченного мероприятия
      </v-card-subtitle>
      <v-card-text>
        <v-row>
          <v-col cols="12">
            <v-text-field
              outlined
              label="Название"
              required
              :value="name"
              @input="$emit('update:name', $event)"
            ></v-text-field>
            <v-autocomplete
                outlined
                label="Тип"
                required
                item-text="name"
                item-value="id"
                :items="types"
                :value="eventType"
                @change="$emit('update:eventType', $event)"
            ></v-autocomplete>


            <v-textarea
              outlined
              label="Описание"
              required
              :value="description"
              @input="$emit('update:description', $event)"
            ></v-textarea>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-form>
</template>
<script>
import requestControl from "@/mixins/requestControl";
import {mapState} from "vuex";

export default {
  props: ["name", "description","eventType"],
  components: {},
  mixins: [requestControl],
  data() {
    return {};
  },
  computed: {
    ...mapState('Events', ['types']),
    isNew(){
      return this.$route.name === 'createEvent'
    }
  },

  async created() {},
  methods: {}
};
</script>
