<template>
  <v-form>
    <v-card>
      <v-card-title> <v-icon>mdi-google-maps</v-icon> Место проведения </v-card-title>
      <v-card-subtitle v-if="isNew">
        Выберите местро проведения соревнования
        <br>
        <span>
          Необходимо навести на карте место проведения соревнования и добавить маркер
        </span>
      </v-card-subtitle>
      <v-card-text>
        <v-row v-if="!isNew">
          <v-col>
            <v-text-field
              outlined
              label="Широта"
              required
              :value="latitude"
              @input="$emit('update:latitude', $event)"
            ></v-text-field>
            <v-text-field
              outlined
              label="Долгота"
              required
              :value="longitude"
              @input="$emit('update:longitude', $event)"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row v-if="isNew">
          <GmapMap
              :center="{lat:43.3897339, lng:39.9920201}"
              :zoom="16"
              :options="{
   zoomControl: true,
   mapTypeControl: false,
   scaleControl: false,
   streetViewControl: false,
   rotateControl: false,
   fullscreenControl: true,
   disableDefaultUi: false
 }"
              @click="onMapClick"
              map-type-id="terrain"
              ref="map"
              style="width: 500px; height: 300px"
          >
            <GmapMarker
                @click="onMarkerClick"
                v-if="marker"
                @dragend="onMarkerMove"
                :position="marker.position"
                :clickable="true"
                :draggable="true"
            />
          </GmapMap>
        </v-row>
      </v-card-text>
    </v-card>
  </v-form>
</template>
<script>
import requestControl from "@/mixins/requestControl";

export default {
  props: ["latitude", "longitude"],
  components: {},
  mixins: [requestControl],
  data() {
    return {
      marker: null         };
  },
  computed: {
    isNew(){
      return this.$route.name === 'createEvent'
    }
  },

  methods: {
    onMarkerMove(e){
      this.marker = {
        position: e.latLng,
      };
      this.$emit('update:latitude',e.latLng.lat())
      this.$emit('update:longitude',e.latLng.lng())
    },
    onMapClick(e) {
      this.marker = {
        position: e.latLng,
      };
      this.$emit('update:latitude',e.latLng.lat())
      this.$emit('update:longitude',e.latLng.lng())
    },
    onMarkerClick(e) {
      this.$refs.map.panTo(e.latLng);
      // или
      // this.options.center = e.latLng;
    },

  }
};
</script>
