<template>
  <v-form>
    <v-card>
      <v-card-title> <v-icon>mdi-clipboard-list</v-icon> Этапы </v-card-title>
      <v-card-text>
        <v-card elevation="0">
          <v-row v-for="(field, fieldIndex) in stages" :key="fieldIndex + 'q'">
            <v-col cols="9">
              <v-autocomplete
                dense
                outlined
                :items="allStages"
                item-value="id"
                item-text="name"
                label="Критерий"
                v-model="stages[fieldIndex]"
              ></v-autocomplete>
            </v-col>
            <v-col cols="2">
              <v-btn
                small
                icon
                fab
                color="primary"
                @click="stages.splice(fieldIndex, 1)"
                :disabled="stages.length === 1"
                ><v-icon>mdi-delete</v-icon>
              </v-btn>
              <v-btn small icon fab color="primary" @click="tieStageToEvent(fieldIndex)"
                ><v-icon>mdi-shape-square-rounded-plus</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
        <v-btn small icon fab color="primary" @click="stages.push('')"
        ><v-icon>mdi-shape-square-rounded-plus</v-icon>
        </v-btn>
      </v-card-text>
    </v-card>
  </v-form>
</template>
<script>
import requestControl from "@/mixins/requestControl";
import {mapActions, mapState} from "vuex";
import {TIE_STAGE} from "@/store/const/stages";
export default {
  props: ["start_date", "stages"],
  mixins: [requestControl],
  data() {
    return {
      currentStep: 1
    };
  },
  computed: {
    ...mapState("Stages",{allStages: 'stages'}),
    isNew(){
      return this.$route.name === 'createEvent'
    }
  },

  async created() {},
  methods: {
    ...mapActions("Stages", {
      tieStage: TIE_STAGE
    }),
    removeStage(index) {
      const clone = JSON.parse(JSON.stringify(this.stages));
      clone.splice(1, index);
      this.$emit("update:stages", clone);
    },
    tieStageToEvent(position){
      console.log('aaaaaa',this.stages,position,this.stages[position])
      this.tieStage({stage_id: this.stages[position], event_id: parseInt(this.$route.params.id), position})
    },
    addStage() {
      const clone = JSON.parse(JSON.stringify(this.stages));
      clone.push([""]);
      this.$emit("update:stages", clone);
      // this.currentStep++;
    }
  }
};
</script>
