<template>
  <div class="text-center">
    <v-menu
      v-model="menu"
      :close-on-content-click="false"
      :nudge-width="200"
      offset-x
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
        small
        icon
          color="indigo"
          dark
          v-bind="attrs"
          v-on="on"
        >
        <v-icon>mdi-fingerprint</v-icon>
        </v-btn>
      </template>

      <v-card>
        <v-list>
          <v-list-item>
            <v-list-item-avatar>
              <img
                src="https://cdn.vuetifyjs.com/images/john.jpg"
                alt="John"
              >
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>{{user.name}}</v-list-item-title>
              <v-list-item-subtitle>{{user.email || 'test@mail.test'}}</v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-action>
              <v-btn
                :class="fav ? 'red--text' : ''"
                icon
                @click="fav = !fav"
              >
                <v-icon>mdi-heart</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-list>
          <v-list-item>
            <v-list-item-title> Номер: {{user.phone}}</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-title>Скилы: {{user.skills || 'Бег, Воркаут'}}</v-list-item-title>
          </v-list-item>
            <v-list-item>
            <v-list-item-title>Био: {{user.bio || 'Призер чемпионата мира по...'}}</v-list-item-title>
          </v-list-item>
        </v-list>

       
      </v-card>
    </v-menu>
  </div>
</template>

<script>
  export default {
      props:{
          user: {
              type: Object
          }
      },
    data: () => ({
      fav: true,
      menu: false,
      message: false,
      hints: true,
    }),
  }
</script>