<template>
  <div class="text-center">
    <v-menu>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
            v-bind="attrs"
            v-on="on"
        >
          Click me
        </v-btn>
      </template>

      <ui-settings>

      </ui-settings>
    </v-menu>
</template>

<script>
export default {
  name: "userCardInfo.vue",
  props: {
    user: {
      type: Object
    }
  },
  methods: {
    onClick () {

    },
  },
}
</script>

<style scoped>

</style>