<template>
  <v-form>
    <v-card>
      <v-card-title>
        <v-icon>mdi-folder-account</v-icon>Пользователи
      </v-card-title>
      <v-card-text>
        <v-row>
          <v-col>
            <v-select
              outlined
              multiple
              label="Участники"
              prepend-inner-icon="mdi-account-group"
              :value="users"
              item-value="id"
              :items="allUsers"
              item-text="name"
              @input="$emit('update:users', $event)"
            >
            <template  v-slot:item="{  item }">
             <v-list-item>{{item.name}}</v-list-item>
             <user-details :user="item"></user-details>
            </template>
            </v-select>
            <v-text-field
              outlined
              label="Депозит"
              value="deposit"
              type="number"
              @input="$emit('update:deposit', parseInt($event))"
            ></v-text-field>
            <!-- <v-autocomplete
              outlined
              multiple
              label="Судьи"
              :items="allUsers"

              prepend-inner-icon="mdi-account-star"
              :value="judges"
              item-value="id"
              item-text="name"
              @input="$emit('update:judges', $event)"
            ></v-autocomplete> -->
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-form>
</template>
<script>
import requestControl from "@/mixins/requestControl";
import userDetails from "./userDetails.vue"
import {mapState} from "vuex";

export default {
  props: ["users", "judges", "deposit"],
  components: {userDetails},
  mixins: [requestControl],
  data() {
    return {};
  },
  computed: {
    ...mapState('Users', { allUsers: 'users'}),
    isNew(){
      return this.$route.name === 'createEvent'
    }
  },

  async created() {},
  methods: {}
};
</script>
