<template>
  <v-row class="mb-9 align-center" flat>
    <v-col v-if="title" height cols="12" sm="4" class="text-h6">
      <v-skeleton-loader
        :loading="loading"
        transition="scale-transition"
        type="heading"
        class=" d-flex align-center"
        width="100%"
      >
        <h3>{{ title }}</h3>
      </v-skeleton-loader>
    </v-col>

    <v-col class="d-flex  align-center justify-end" cols="12" sm="8">
      <slot name="buttons"></slot>
      <div
        :loading="loading"
        transition="scale-transition"
        type="text"
        width="100%"
        class="ml-3 mx-1 d-flex align-center"
      >
        <v-text-field
          v-if="value != undefined"
          full-width
          label="Поиск"
          hide-details
          outlined
          ref="searchInput"
          color="secondary"
          dense
          :class="{ 'v-input__closed': isSearchInputClosed }"
          @click:prepend="onMagnifyClick($event)"
          v-model="search"
          prepend-icon="mdi-magnify"
        ></v-text-field>
      </div>
      <v-skeleton-loader
        :loading="loading"
        transition="scale-transition"
        type="text"
        width="100%"
        class="mx-1 d-flex align-center"
      >
        <div class="">
          <v-badge avatar bordered dot overlap top small color="primary">
            <v-icon>mdi-bell</v-icon></v-badge
          >
        </div>
      </v-skeleton-loader>
     
        <user-info></user-info>
    </v-col>
  </v-row>
</template>

<script>
import userInfo from "./userInfo.vue"
export default {
  components: {
    userInfo
  },
  props: {
    value: {
      // v-model === search
      type: String,
      required: false,
      default: undefined
    },
    title: {
      type: String,
      required: false,
      default: undefined
    }
  },
  data() {
    return {
      loading: false,
      isSearchInputClosed: true
    };
  },
  computed: {
    search: {
      get() {
        return this.value;
      },
      set(newValue) {
        this.$emit("input", newValue);
      }
    }
  },
  methods: {
    onMagnifyClick() {
      this.isSearchInputClosed = !this.isSearchInputClosed;
      if (!this.isSearchInputClosed) {
        this.$refs.searchInput.focus();
      } else {
        this.$emit("input", "");
      }
    }
  }
};
</script>

<style lang="scss">
.v-input__closed .v-input__control {
  width: 0;
  opacity: 0;
}
.v-input__control {
  transition: all 0.3s;
}
</style>
