<template>
  <v-row>
    <v-col cols="12">
      <v-data-table
        :headers="headers"
        :items="items"
        :items-per-page="10"
        fixed-header
        loader-height="6"
        loading-text="Загрузка списка... Пожалуйста подождите "
        class="elevation-0"
      >
        <template
          v-for="stage in stages"
          v-slot:[`item.${stage.id}`]="{ item }"
        >
        <v-select
            :key="stage.id"
            :items="points"
            :disabled="item.complete"
            hide-details
            outlined
            dense
            v-model="item[stage.id]"
          >
          </v-select>
        </template>
        <template v-slot:[`item.complete`]="{ item }">
          <v-btn fab small icon color="primary"  @click="setMarksForUser(item)"> <v-icon>mdi-flag</v-icon> </v-btn>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapState } from "vuex";
import {MANAGE_THIS} from "@/store/const/users";

export default {
  name: "judgeTable",
  props: {
    stages: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {};
  },
  methods: {
    ...mapActions('Users',{
      manageCurrentUser: MANAGE_THIS
    }),
    async setMarksForUser(item){
      for (const key in item) {
      if (key != 'id' && key !='name') {
          const mark = item[key];
          const stage_id =  key;
          const event_id = this.$route.params.id;
          const user_id = item.id;
          await this.manageCurrentUser({mark,stage_id,event_id,user_id})
          
        }

      }
       this.$notify({
          type: "succ",
          text: "Оценки успешно проставлены"
        });
    },
    async getStagesByEvent() {
      let res = await window.fetch(
        `http://like778421.nichost.ru/api/stages/event/${this.$route.params.id}`,
        {
          method: "GET",
          headers: {
            Authorization: `Bearer ${localStorage.getItem("userToken")}`,
          },
        }
      );
      let json = await res.json();
      this.stages = json.map;
    },
  },
  computed: {
    ...mapState("Users", { allUsers: "users", stagesMap: "stagesMap" }),
    ...mapState("Events", ["tiedUsers"]),
    items() {
      // таблица привязанных юзеров
      let tiedUsers = [...new Set(this.tiedUsers)];
      let users = [];
      for (const key in tiedUsers) {
        let user = {
          id: tiedUsers[key],
        };
        for (const stageIndex in this.stages) {
            const stage = this.stages[stageIndex];
            user[stage.id] = ''
        }
        let fullUser = this.allUsers.find(({ id }) => id === user.id);
        if (fullUser) {
          user.name = fullUser.name;

          for (const key in this.stagesMap) {
             const stage = this.stagesMap[key];
              const stageWothUserInfo=stage.find(item=> item.user_id == user.id)
            if (stageWothUserInfo) {
              user[key] = stageWothUserInfo.mark;
            }
          }
        } else {
          continue;
        }

        users.push(user);
      }
      return users;
    },
    points() {
      let arr = [];
      for (let index = 1; index < 11; index++) {
        arr.push(index);
      }
      return arr;
    },
    headers() {
      let headers = [
        {
          text: "Участник",
          align: "start",
          value: "name",
        },
      ];
      let stages = this.stages.map((stage) => {
        return { text: stage.name, value: stage.id.toString() };
      });
      headers.push(...stages);
      headers.push({
        text: "Опции",
        value: "complete",
      });
      return headers;
    },
  },
};
</script>

<style scoped></style>
