<template>
  <v-container
    class=" flex-nowrap flex-column"
    fluid="fluid"
    style="align-items: normal"
  >
    <view-toolbar :title="eventObject.name"> </view-toolbar>
     
    <v-card>
      <v-card-title>
        Судейская таблица
        
      </v-card-title>
      <v-card-text>
          <judge-table :stages="stages"></judge-table>
      </v-card-text>
      <v-card-text>
        <v-col>
        <h3>О Соревновании</h3>
        <p>
          {{ eventObject.description }}
        </p>
      </v-col>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import EventSettings from "@/components/management/events/settings/index";
import viewToolbar from "@/components/common/ViewToolbar";
import judgeTable from "@/components/views/Events/components/judgeTable";
import {mapActions} from "vuex";
import {GET_EVENT,GET_USERS_BY_EVENT} from "@/store/const/events";
import {GET_USERS,GET_EVENT_STAGES_MAP} from "@/store/const/users";

let typeEvent = {
  id: null,
  name: "",
  eventType: "",
  owner_id: null,
  judges: [],
  users: [],
  stages: [""],
  description: "",
  start_date: "",
  status: null,
  deposit: 0,
  latitude: "",
  longitude: ""
};
export default {
  components: {
    EventSettings,
    viewToolbar,
   judgeTable
    },
     data() {
    return {
      eventObject: JSON.parse(JSON.stringify(typeEvent)),
      stages: []
    };
  },
  methods:{
    ...mapActions('Events',{
      fetchEvent: GET_EVENT,
      getUsersByEvent: GET_USERS_BY_EVENT
    }),
     ...mapActions('Users',{
      fetchUsers: GET_USERS,
      fetchStagesMap: GET_EVENT_STAGES_MAP

    }), 
     async getStagesByEvent(){
     let res = await window
                .fetch(`http://like778421.nichost.ru/api/stages/event/${this.$route.params.id}` , {
                    method: 'GET',
                    headers: {
                      Authorization: `Bearer ${localStorage.getItem('userToken')}`
                    },
                })
           let json = await res.json() ;
           this.stages = json 
    },
  },
  async mounted() {
    await this.fetchEvent(this.$route.params.id);
    this.eventObject =  this.$store.state.Events.currentEvent
     await this.getUsersByEvent(this.$route.params.id); // Привязанные юзеры
    await this.fetchUsers() //ВСЕ юзеры
    await this.fetchStagesMap(this.$route.params.id); // Мапа этапов с оценками
    await this.getStagesByEvent() //Этапы ивента
  },
 
};
</script>
