<template>
  <event-settings :is-new="false"></event-settings>
</template>

<script>
import EventSettings from "@/components/management/events/settings/index";
import {mapActions} from "vuex";
import {GET_EVENT} from "@/store/const/events";
export default {
  components: {
    EventSettings
  },
  methods:{
    ...mapActions('Events',{
      fetchEvent: GET_EVENT
    })
  },


};
</script>
