<template>
  <v-container
    class=" flex-nowrap flex-column"
    fluid="fluid"
    style="align-items: normal"
  >
    <view-toolbar title="Мои ивенты">
      <template #buttons>
        <v-btn link :to="{ name: 'createEvent', params: { id: 1 } }"
          >Добавить соревнование</v-btn
        >
      </template>
    </view-toolbar>
    <v-row justify="center">
      <v-col cols="12">
        <events-table> </events-table>
      
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import viewToolbar from "@/components/common/ViewToolbar";
import EventsTable from "@/components/management/events/Table";
import { mapActions } from "vuex";
import { GET_EVENTS } from "@/store/const/events";
export default {
  components: {
    viewToolbar,
    EventsTable
  },
  data() {
    return {
      bool: false
    };
  },
  created() {
    this.fetchEvents();
  },
  computed: {},
  methods: {
    ...mapActions("Events", {
      fetchEvents: GET_EVENTS
    })
  }
};
</script>
