<template>
  <event-settings :is-new="true"></event-settings>
</template>

<script>
import EventSettings from "@/components/management/events/settings/index";
export default {
  components: {
    EventSettings
  }
};
</script>
