<template>
  <v-container
    class=" flex-nowrap flex-column"
    fluid="fluid"
    style="align-items: normal"
  >
    <view-toolbar title="Соревнование по скейту"> </view-toolbar>
    <v-row>
      <v-col>
        <h3>Результаты</h3>
        <p>
          {{ eventObject.description }}
        </p>
      </v-col>
    </v-row>
    <v-card>
      <v-card-title>
       Результаты
      </v-card-title>
      <v-card-text>
          <judge-table></judge-table>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import EventSettings from "@/components/management/events/settings/index";
import viewToolbar from "@/components/common/ViewToolbar";
import judgeTable from "@/components/views/Events/components/judgeTable";

let typeEvent = {
  id: null,
  name: "",
  eventType: "",
  owner_id: null,
  judges: [],
  users: [],
  stages: [""],
  description: "",
  start_date: "",
  status: null,
  deposit: 0,
  latitude: "",
  longitude: ""
};
export default {
  components: {
    EventSettings,
    viewToolbar,
  judgeTable
    },
  data() {
    return {
      eventObject: JSON.parse(JSON.stringify(typeEvent))
    };
  }
};
</script>
