$btn-sizes: (
  "default": 41,
  "large": 42,
);
$inversedThemeColor: #000000;
$btn-letter-spacing: 0.15px;
$tooltip-background-color: #757575;
$btn-font-sizes: (
  "x-small": 0.625rem,
  "small": 0.75rem,
  "default": 14px,
  "large": 16px,
  "x-large": 1rem,
);
$text-field-padding: 6px 0 6px;
$btn-font-weight: 500;
$list-dense-min-height: 36px;
$material-dark: (
    'background': #212121,
  );

$border-radius-root: 8px;

$text-field-outlined-fieldset-border: 1px solid currentColor;

$data-table-expanded-content-box-shadow: none;


$tooltip-background-color: white;
$tooltip-text-color: #9FA2B4;