<template>
  <v-card outlined="outlined" class="elevation-0 mx-3">
    <v-card-title>
      О пользователе
    </v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="12" md="6">
        <v-text-field v-model="userAccount.name" outlined label="Имя"></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field v-model="userAccount.email" outlined label="E-mail"></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field v-model="userAccount.age" outlined type="number" label="Возраст"></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field v-model="userAccount.phone" outlined type="tel" label="Телефон"></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-select v-model="userAccount.gender" :items="genders" outlined label="Пол"></v-select>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field v-model="userAccount.weight" outlined  type="number" label="Вес"></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field v-model="userAccount.experience" outlined label="Опыт"></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-autocomplete v-model="userAccount.skills" :items="skills" outlined label="Навыки"></v-autocomplete>

        </v-col>
        <v-col cols="12" >
          <v-textarea v-model="userAccount.bio" outlined label="Bio"></v-textarea>

        </v-col>

      </v-row>
    </v-card-text>

    <v-card-actions class="mb-5"><v-spacer></v-spacer><v-btn @click="updateUser(userAccount)" color="primary">Обновить данные</v-btn></v-card-actions>
  </v-card>
</template>

<script>
import {mapActions, mapState} from "vuex";
import requestControl from "@/mixins/requestControl";
import {UPDATE_USER} from "@/store/const/users";
export default {
  data() {
    return {
      dialogState: false,
      userAccount: {
        name: ""
      },
      genders: [
          'Мужчина',
          'Женщина',
          'Не определен'
      ]
    };
  },
  components: {
  },
  watch:{
    user(newValue){
      this.userAccount = JSON.parse(JSON.stringify(newValue))
    }

  },
  created() {
    this.userAccount = JSON.parse(JSON.stringify(this.user));
  },
  mixins: [requestControl],
  computed: {
    ...mapState("Auth", [ "user"])
  },
  methods:{
    ...mapActions('Users', {
      updateUser: UPDATE_USER
    })
  }

};
</script>

<style></style>
