<template>
  <v-container
    class=" flex-nowrap flex-column"
    fluid="fluid"
    style="align-items: normal"
  >
    <view-toolbar title="Настройки">
      <template #buttons> </template>
    </view-toolbar>
    <v-row justify="center">
      <v-col cols="12">
                    <ui-settings></ui-settings>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import viewToolbar from "@/components/common/ViewToolbar";
 import uiSettings from "./components/UISettings";
// import requestControl from "../../../mixins/requestControl";
export default {
  components: {
    viewToolbar,
     uiSettings
  },
  // mixins: [requestControl],
  data() {
    return {
      bool: false
    };
  },

  computed: {},
  methods: {}
};
</script>
